restrict default kod nomodify notrap nopeer noquery
restrict -6 default kod nomodify notrap nopeer noquery
restrict 127.0.0.1
restrict -6 ::1
{% for serv in ansible_local.net_env.ntp_servers %}
server {{ serv }} iburst
{% endfor %}
driftfile /var/lib/ntp/drift
keys /etc/ntp/keys
